MONGO_URL=mongodb://localhost:27017/manage-wallet
PORT=4001
TL_TOKEN_URL=https://auth.truelayer-sandbox.com/connect/token
TL_DATA_BASE=https://api.truelayer-sandbox.com/data/v1
TL_REDIRECT_URI=http://localhost:4001/api/tl/callback
TL_AUTH_BASE=https://auth.truelayer-sandbox.com/
TL_SCOPES=info accounts balance transactions offline_access
TL_PROVIDERS=uk-cs-mock
jwt=aslkdjsalkjdsalkjdlsakajdlskajdlsa
TOKEN_ENCRYPTION_SECRET=Hf82!mZxPq74@LsT9vWr3#xKaP2!nQ
FRONTEND_URL=http://localhost:5173
EMAIL_USER=mangewallet@gmail.com
EMAIL_PASS=ypncxovlvahyrnrm
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
